<mat-sidenav-container [ngStyle]='containerStyle'>

  <mat-sidenav [ngStyle]="sidenavStyle" #sidenav [(opened)]="opened" mode="side">
    <mat-nav-list>
      <div class="container text-center menu">
        <p>MENU</p>
        <hr>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/fornecedores">Fornecedores</a>
        <a mat-list-item routerLink="/empresas">Empresas</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div (click)="sidenav.toggle()">
        <span class="navbar-toggler-icon"></span>
      </div>
    </nav>


    <div class="container">
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>