<h1 class="text-center">{{title}}</h1>
<hr>
<div class="alert alert-danger" *ngIf="msg">{{msg}}</div>
<form>
  <!-- <div *ngIf="msg" class="alert alert-danger">{{msg}}</div> -->
  <div class="form-group row">
    <label class="col-sm-1 col-form-label">Nome</label>
    <input type="text" class="col-sm-4 form-control" name="name" [(ngModel)]="fornecedor.nome">

    <label class="col-sm-1 col-form-label">Tipo</label>
    <select class="form-control col-sm-2" name="tipo" [(ngModel)]="fornecedor.tipo"
      (ngModelChange)="LoadLabelCpfCnpj()">
      <option [ngValue]="null" [disabled]>Selecione...</option>
      <option *ngFor="let t of tipos" [ngValue]="t.cod" [selected]="t.cod===fornecedor.tipo">
        {{ t.desc }}
      </option>
    </select>

    <label class="col-sm-1 col-form-label">{{ labelTF }}</label>
    <input type="text" class="col-sm-3 form-control" name="cpfOuCnpj" [(ngModel)]="fornecedor.cpfOuCnpj"
      [disabled]="!fornecedor.tipo">

  </div>

  <div class="form-group row">
    <label class="col-sm-1 col-form-label">Empresa</label>
    <select class="form-control col-sm-2" name="empresa" [(ngModel)]="fornecedor.empresa">
      <option [ngValue]="null" [disabled]>Selecione...</option>
      <option *ngFor="let e of empresas" [ngValue]="e" [selected]="e.id === fornecedor.empresa?.id">
        {{ e.nome }}
      </option>
    </select>

    <label class="col-sm-1 col-form-label" *ngIf="fornecedor.tipo == 1">RG</label>
    <input type="text" class="col-sm-3 form-control" name="rg" [(ngModel)]="fornecedor.rg" *ngIf="fornecedor.tipo == 1">

    <label class="col-sm-2 col-form-label" *ngIf="fornecedor.tipo == 1">Data de Nascimento</label>
    <input type="date" class="col-sm-3 form-control" name="dtNascimento" [(ngModel)]="fornecedor.dtNascimento" *ngIf="fornecedor.tipo == 1">
  </div>

  <div class="form-group row">
    <div class="col-sm-2 col-form-label">Telefones</div>
  </div>
  <div class="form-group row">
    <ul *ngFor="let t of fornecedor.telefones">
      <li>{{t}} </li> 
    </ul>
    <button (click)="dropPhone()" class="btn btn-danger" *ngIf="fornecedor.telefones.length > 0">Remover</button>
  </div>

  <div class="form-group row">
    <input type="tel" class="col-sm-4 form-control" name="telefone" #telefone placeholder="Insira um telefone">
    <button class="btn btn-info" (click)="addPhone(telefone.value)">Adicionar</button>
  </div>

  <button type="button" class="btn btn-primary" (click)="register()">SALVAR</button>
</form>