<div class="container text-center">
  <h1>Detalhes</h1>
  <div class="body">
    <p> Nome: {{fornecedor?.nome}}</p>
    <p>Empresa: {{fornecedor.empresa?.nome}}</p>
    <p>{{ (fornecedor.tipo == 1)? 'CPF': 'CNPJ' }}: {{fornecedor.cpfOuCnpj}}</p>
    <p>RG: {{fornecedor.rg}}</p>
    <p>Data de nascimento: {{fornecedor.dtNascimento}}</p>
    <p>Data de cadastro: {{fornecedor.dtCadastro}}</p>
    <p>Telefones</p>
    <ul *ngFor="let t of fornecedor.telefones">
      <li>{{t}}</li>
    </ul>
  </div>
  
</div>