nav {
  background-color: darkblue;
}

mat-sidenav-content {
  background-color: lightblue;
}

mat-sidenav a {
  color: aliceblue;
}

.menu {
  color: aliceblue;
  margin-top: 20px;
}

.menu a:hover {
  font-size: larger;
}
